pip>=25.2  # GHSA-4xh5-x5gv-qwph: usar versión corregida disponible en runners
pytest
pytest-cov
black
coveralls
tomli
pydantic>=2,<3
hypothesis
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

